body.coronavirus {
    color: #444;
  .container {
    width: 95% !important;
    max-width: 1200px !important;
  }
}

section {
  padding: 50px 0;
}

section.banners {
  background: #f5f5f5;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;

    @media screen and (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  img {
    width: 100%;
  }
}

section.contagem {
  padding: 50px 0;
  h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
  }
  img {
    width: 100%;
  }
}

section.slides {
  position: relative;

  // &:before{
  //     content: "";
  // position: absolute;
  // width: 100%;
  // border-radius: 20px;
  // background: indigo;
  // top: 0px;
  // right: 0;
  // height: 100px;
  // z-index: 1;
  // }
  .item {
    border-radius: 10px;
    overflow: hidden;
  }
}

section.updates {
  background: #eef2f3;
  padding: 50px 0;
  float: left;
  width: 100%;
  .container {
    .noticias {
      width: 95%;
      max-width: 700px;
      margin: 0 auto;

      @media screen and (max-width: 600px) {
        //   .box-content{
        //       height: ;
        //       max-height: auto !important;
        //   }
          li{
              a{
                  max-height: 400px !important;
              }
              .titulo{
                  width: 100% !important;
                  font-size: 18px !important;
              }
              .corpo{
                  display: none !important;
              }
              .capa{
                  width: 100% !important;
                  margin-bottom: 5px;
                  height: 150px !important;
              }
          }
      }

      h3 {
        font-size: 30px;
        margin: 5px 0 10px 0;
        text-align: center;
      }
      .box-content {
        max-height: 478px !important;
        height: 478px;
        overflow: hidden;
        overflow-y: auto;
      }
      ul {
          padding: 0 10px;
        li {
          float: left;
          width: 100%;
          margin-bottom: 20px;
          a {
            padding: 10px;
            float: left;
            width: 100%;
            background: #fff;
            border-radius: 6px;
            box-shadow: 0 3px 5px rgba(black, 0.1);
            transition: all .3s ease-in-out;
            max-height: 120px;
            overflow: hidden;
            &:hover{
                box-shadow: 0 7px 10px rgba(black, 0.2);
                span.titulo{
                    color: #039be5;
                }
            }
            .capa{
                float: left;
                height: 100px;
                width: 150px;
                overflow: hidden;
                border-radius: 6px;
                margin-right: 10px;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            span.titulo {
              color: #333;
              font-size: 20px;
              font-weight: 500;
              width: calc(100% - 160px);
              float: left;
            }
            span.corpo {
                width: calc(100% - 160px);
                float: left;
              font-weight: 400;
              color: #777;
              font-size: 16px;
            }
          }
        }
    }
    }
    
  }
}

section.mais-informacoes {
  // background: linear-gradient(90deg, rgb(14, 14, 163) 0%, rgb(8, 8, 136) 100%);
  background: rgba(5, 18, 56, 0.9);
  padding: 50px 0;
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: -100px;

  &:before{
      position: absolute;
      content: "";
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      background: url("../coronavirus.jpg");
      z-index: -1;
      background-size: cover;
      filter: blur(5px);
    //   opacity: .3;
  }


  .container {
    h2 {
      font-size: 40px;
      font-weight: 600;
      margin-top: 0;
    }
    
    .grid-info {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, calc((100% / 3) - 10px));
      grid-template-rows: auto-fit;
    //   @media screen and (min-width: 992px) {

    //     .decretos{
    //         grid-column-start: 2;
    //       grid-row-start: 2;
    //     }
    //     .outras-informacoes{
    //         grid-column-start: 3;
    //       grid-row-start: 2;
    //     }
    //   }
      @media screen and (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
      }
      column-gap: 15px;
      row-gap: 20px;

      h3 {
        font-size: 20px;
        margin: 5px 0 10px 0;
      }
      & > div {
        background: #fff;
        box-shadow: 0 5px 10px rgba(black, 0.1);
        border-radius: 10px;
        padding: 10px;
        .box-content {
          overflow: hidden;
          overflow-y: auto;
          // border-top: 1px solid rgba(black, .1);

          img,
          video {
            width: 100%;
          }
        }
      }

      .decretos {
        .box-content {
          height: 150px;
          max-height: 150px;
        }
        ul {
          li {
            padding: 5px 0;

            a {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .outras-informacoes {
        .box-content {
          height: 150px;
          max-height: 150px;
        }
        ul {
          li {
            padding: 5px 0;

            a {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
    }
      .video {
          iframe{
              height: 195px;
          }
    //     background: transparent;
    //     box-shadow: none;
    //     padding: 0px;
    //     h3{
    //         color: #fff;
    //     }
      }
    }
  }
}
